<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') -%>
    <title>포실 출결</title>
  </head>
  <body class="index">

    <div class="background">
      <div class="box">
        <div class="title">
          <h1>포출</h1>
        </div>
        <div class="input">
          <input type="text" id="name" style="ime-mode:active" placeholder="Put your name.">
          <button type="submit" id="btn"><span>입실</span></button>
        </div>
        <p class="sign">
          <a href="/dev">by sangho</a>
        </p>
      </div>
      <ul class="decription">
        <%- include('../layout/po_decription') -%>
      </ul>
    </div>

    <%- include('../layout/jquery_backstretch') -%>
    <script type="text/javascript">
      $("#name").focus();
      $('#btn').click(function(){
        if( $('#name').val()=="" || $('#name').val()=="Put your name."){
          alert('이름을 입력하세요!');
        }else{
          $(location).attr('href', '/po/'+$('#name').val().replace(/\s/gi, '') );
        };
      });
      $( "#name" ).keypress(function( e ) {
        if ( e.which == 13 ) {
           $('#btn').click();
        };
      });
    </script>
  </body>
</html>
